@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #3DD2CC;

    --background: 189 40.3% 4.24%;
    --foreground: 189 6.2% 97.65%;

    --muted: 189 31% 15.9%;
    --muted-foreground: 189 6.2% 55.3%;

    --popover: 189 52.6% 6.890000000000001%;
    --popover-foreground: 189 6.2% 97.65%;

    --card: 189 52.6% 6.890000000000001%;
    --card-foreground: 189 6.2% 97.65%;

    --border: 189 31% 15.9%;
    --input: 189 31% 15.9%;

    --primary: 189 62% 53%;
    --primary-foreground: 189 6.2% 5.300000000000001%;

    --secondary: 189 31% 15.9%;
    --secondary-foreground: 189 6.2% 97.65%;

    --accent: 189 31% 15.9%;
    --accent-foreground: 189 6.2% 97.65%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 189 6.2% 97.65%;

    --ring: 189 62% 53%;

    --radius: 0.5rem;
  }
}